<%= form_for student do |p| %>

<center>
  <% if student.errors.any? %>
  <div class="alert alert-danger message-info" role="alert">
    <h2 class="alert-heading"><%= pluralize(student.errors.count, 'error') %> To Fix </h2>
    <hr>
      <% student.errors.full_messages.each do |message| %>
      <ul>
        <li style="list-style: none;">
          <p class="mb-0 message" role="alert"> <%= message %> </p>
        </li>
      </ul>
    <% end %>
  </div>
  <% end %>
  <br>
  <center>
  <!-- A text field for the user to input the students name -->
  <div class="form">
    <div class="field">
      <%= p.label :name %>
      <div class="nameInput">
        <%= p.text_field :name %>
      </div>
    </div>
    <br>
    <!-- A select field for the user to select the students course  -->
    <div class="field">
      <%= p.label :group_id %>
      <div class="select">
        <%= p.select(:group_id, @course_list) %> <!-- @course_list can be found in the students.rb file -->
      </div>
    </div>
    <!-- A checkbox that allows the user to tick a box to state whether the student is on the course or not -->
    <div class="field">
      <%= p.label :active %>
      <%= p.check_box :active %>
    </div>
    <br>
    <div class="action">
      <%= p.submit "Submit" %>
    </div>
  </div>
</center>
<% end %>
