<!-- JS code to check if DataTables applied, if not then apply it to the students list. -->
<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
      if (!document.getElementById("studentslist_wrapper")) {
        $('#studentslist').DataTable();
      }
  });
</script>

<div class="container">
  <h1 class="list-h1" >Students</h1>
  <table id="studentslist" class="list-table table table-hover table-bordered">
    <thead>
      <tr>
        <th scope"col">#</th>
        <th scope"col">Name</th>
        <th scope"col">Active</th>
        <th scope"col">Stream</th>
        <th scope"col">Group</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <th scope="row"><%= student.id %></th>
          <td><%= link_to "#{student.name.titlecase}", student %></td>
          <td>
            <%if student.active == true %>
              <span class="badge badge-success"> Active </span>
            <% else %>
              <span class="badge badge-secondary"> Inactive </span>
            <% end %>
          </td>
          <td><span class="badge badge-info"><%= @group.find(student.group_id).stream.upcase%></span></td>
          <td>
          <%= link_to "#{@group.find(student.group_id).name.upcase}", @group.find(student.group_id), class: "badge badge-info" %></td>
        </tr>
      <% end %>

      <br>
      <br>
    </tbody>
  </table>
  <div class="new_student actions-list">
    <%= link_to 'Create a new student', new_student_path, class: "btn btn-primary" %>
  </div>
</div>
