<script type="text/javascript">
$('[data-toggle="popover"]').popover()
</script>

<div class="alert-success" role="alert">
  <% if notice.to_s.length != 0 %>
    <p class="alert notice"><%= notice %></p>
  <% end %>
</div>

<div class="container">
  <div class="row show-row">
    <div class="col-md-6 show-containers">
      <%= image_tag("profile_placeholder" , size: "200x200", class: "show-profile") %>
      <%if @student.active == true %>
        <h1><span class="badge badge-success show-active">Active</span></h1>
        <%else%>
        <h1><span class="badge badge-secondary show-active">Inactive</span></h1>
        <%end%>
        <div class="actions-list">
          <%= link_to "Edit Student", edit_student_path, class: "btn btn-primary" %>
          <%= link_to "Delete Student", @student, method: :delete, class: "btn btn-danger" %>
        </div>
    </div>
    <div class="col-md-6 show-containers">
      <table>
        <tr>
          <td><h1>Name: </h1></td>
          <td><h1><%= @student.name.titlecase %></h1></td>
        </tr>
        <tr>
          <td><h1>Group: </h1></td>
          <td><h1><%= link_to "#{@group.name.upcase}", @group, class: "badge badge-info" %></h1></td>
        </tr>
        <tr>
          <td><h1>Stream: </h1></td>
          <td><h1><span class="badge badge-info"><%=@group.stream.upcase %></span></h1></td>
        </tr>
      </table>
    </div>
  </div>

  <!-- INDIVIDUAL ATTENDANCE -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="att_status_size">On Time</th>
        <th scope="col" class="att_status_size">< 5 mins</th>
        <th scope="col" class="att_status_size">> 5 mins</th>
        <th scope="col" class="att_status_size">Authorised</th>
        <th scope="col" class="att_status_size">Unauthorised</th>
      </tr>
    </thead>
    <tbody>

      <% att_array = [0, 0, 0, 0, 0]
         percArray = [0, 0, 0, 0, 0] %>

      <tr>

        <% @student.attendances.each do |attendance| %>

          <%

          case attendance.att_status
          when 1
            att_array[0] += 1
          when 2
            att_array[1] += 1
          when 3
            att_array[2] += 1
          when 4
            att_array[3] += 1
          when 5
            att_array[4] += 1
          end

          %>

        <% end %>

        <%

        sum = 0.0

        att_array.each do |value|
          sum+=value
        end


          percArray[0] = ((att_array[0] / sum) * 100).round 2
          percArray[1] = ((att_array[1] / sum) * 100).round 2
          percArray[2] = ((att_array[2] / sum) * 100).round 2
          percArray[3] = ((att_array[3] / sum) * 100).round 2
          percArray[4] = ((att_array[4] / sum) * 100).round 2

        %>

        <% percArray.each do |p| %>

          <% if p.nan? %>
            <td>0.0%</td>
          <% else %>
            <td><%= p %>%</td>
          <% end %>

        <% end %>

      </tr>
    </tbody>
  </table>
<!-- INDIVIDUAL ATTENDANCE END -->
<br>
<!-- CALENDAR ----------------->

  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="weekSize">Week</th>
      <th scope="col" class="otherSize">Monday</th>
      <th scope="col" class="otherSize">Tuesday</th>
      <th scope="col" class="otherSize">Wednesday</th>
      <th scope="col" class="otherSize">Thursday</th>
      <th scope="col" class="otherSize">Friday</th>
    </tr>
  </thead>
  <tbody>

    <!-- Does the course start on a Monday? -->
    <% week_date = @group.startdate %>

    <!-- If not, count backwards to the nearest Monday and start the calendar from there -->
    <!-- date.wday gives an integer value 0-6 depending on the day (Sunday=0, Monday=1 etc...) -->
    <% if week_date.wday != 1
      week_date -= (week_date.wday - 1)

    end %>

    <!-- Calculate total number of weeks in course using week_date -->
    <% cDays = (@group.enddate - week_date).to_f %>
    <% cWeeks = (cDays / 7).ceil %>

    <% cellDate = week_date %>

    <!-- variable to track what the date is on each day. The date is initialised as the dtart date of the course-->
    <% dateVar = week_date %>
    <!-- variable will be used to apply a border to the cell if the attendance date is the same as todays date -->
    <% dateSame = "" %>
    <!-- variable to add text to the cell -->
    <% textSame = "" %>

    <% (1..cWeeks).each do |i| %>
      <tr>
        <th scope="row" class="week"><div>Week <%= i %></div> <div><%= week_date.strftime('%d/%m') %></div></th>

        <!-- Iterate through each week and fill boxes accordingly -->
        <!-- Week start (0)=Monday -->
        <% (0..6).each do |j| %>
          <% puts cellDate %>
          <% cellAttendance = @student.attendances.find_by(date: cellDate) %>

          <!-- check if the date of the attendance corresponds to todays date -->
          <% if dateVar == Date.today
            dateSame = "todayMessage"
            textSame = "Today"
             else
            dateSame = ""
            textSame = ""
          end %>
          <!-- Confirm that the attendance exists -->
          <!-- If it doesn't, leave the calendar space blank if it is a weekday -->
          <% if cellAttendance.nil? %>

            <!-- Stops weekend cells appearing on nil attendance -->
            <% if j.between?(0, 4) %>
              <!-- DO NOT DELETE ME -->
              <!-- I ensure that any empty entries are left blank -->
              <td><p class="<%= dateSame %>"><%= textSame %></p></td>
              <!-- DO NOT DELETE ME -->
            <% end %>

          <% else %>
            <!-- Confirm that the attendance date is a weekday -->
            <% if cellAttendance.date.on_weekday? %>

              <!-- If it is a weekday attach the relevant CSS class depending on the attendance att_status -->
              <%
              className = ""
              case cellAttendance.att_status
              when 1
                className = "on_time"
              when 2
                className = "less_than_five"
              when 3
                className = "more_than_five"
              when 4
                className = "auth"
              when 5
                className = "unauth"
              end

              date = cellAttendance.date
              comment = cellAttendance.comment

              %>

              <% if dateVar == Date.today
                dateSame = "todayMessage"
                textSame = "Today"
                 else
                dateSame = ""
                textSame = ""
              end %>


              <td class="<%= className %> hoverBin">

                <% unless comment === "" %>
                  <a tabindex="0" data-toggle="popover" data-trigger="focus" title="<%= date %>" data-content="<%= comment %>">
                      <%= image_tag "icons8-topic-24.png" %>
                  </a>
                <% else %>
                  <a tabindex="0" data-toggle="popover" data-trigger="focus" title="<%= date %>" data-content="<%= comment %>">
                      <%= image_tag "" %>
                  </a>
                <% end %>

                <div class="cocktailShakerBin">
                  <%= link_to (image_tag "cocktailShakerBin.png"), cellAttendance, method: :delete %>
                </div>
                <p class="<%= dateSame %> today-align"><%= textSame %></p>
              </td>

            <% else %>
              <!-- What? -->
            <% end %>
          <% end %>
          <!-- increment the date by one -->
          <% dateVar += 1 %>
          <!-- +1 to cell's associated date value -->
          <% cellDate += 1 %>
        <% end %>
        <% week_date += 7 %>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- END OF CALENDAR ------------------>

<!-- Key -->

<h2 class="calendarkey">Key</h2>

<div class="row calendarkey">

  <div class="col">
    <p>On Time:</p>
  </div>
  <div class="col on_time">

  </div>

  <div class="col">
    <p>< 5 mins:</p>
  </div>
  <div class="col less_than_five">

  </div>

  <div class="col">
    <p>> 5 mins:</p>
  </div>
  <div class="col more_than_five">

  </div>

  <div class="col">
    <p>Authorised:</p>
  </div>
  <div class="col auth">

  </div>

  <div class="col">
    <p>Unauthorised:</p>
  </div>
  <div class="col unauth">

  </div>

</div>
</div>
