<div class="container">
  <div class="row">
    <div class="col-md-6 show-containers">
      <%= image_tag("profile_placeholder" , size: "200x200", class: "show-profile") %>
    </div>
    <div class="col-md-6 show-containers">
      <table>
        <tr>
          <td><h1><%= @student.name.capitalize %></h1></td>
          <td><%if @student.active == true %>
            <h1><span class="badge badge-success">Active</span></h1>
            <%else%>
            <h1><span class="badge badge-secondary">Inactive</span></h1>
            <%end%>
          </td>
        </tr>
        <tr>
          <td><h1>Group</h1></td>
          <td><h1><span class="badge badge-info"><%= @group.name.upcase %></span></h1></td>
        </tr>
        <tr>
          <td><h1>Stream</h1></td>
          <td><h1><span class="badge badge-info"><%=@group.stream.upcase %></span></h1></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row show-attendance">
  </div>
  <div class="row">
    <div class="actions-list">
      <%= link_to "Edit Student", edit_student_path, class: "btn btn-primary" %>
      <%= link_to "Delete Student", @student, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
