<h1>Groups</h1>

<div class="container">
  <div class="row">
    <div class="buttons-sort">
      <button type="button" name="button" id="sort_id" class="btn btn-secondary">Sort By Id</button>
      <button type="button" name="button" id="sort_name" class="btn btn-secondary" >Sort By Name</button>
      <button type="button" name="button" id="sort_active" class="btn btn-secondary">Sort By Active</button>
    </div>
  </div>
  <div class="row">
    <div class="buttons-sort">
      <p class="key"> Inactive</p>
      <%= image_tag("square_block_red.jpg", size: "20x20", alt: "Edit Entry", class: "key") %>

      <p class="key"> Active</p>
      <%= image_tag("square_block.png", size: "20x20", alt: "Edit Entry", class: "key") %>
    </div>
  </div>
</div>

<div class="" id="order_id">
  <div class="container">
    <div class="row group_info">
      <% @groups.each do |group| %>
      <div class="col-md-4">
        <div class="group-card <%= group.active ? "active" : "inactive" %>">
          <h2><%= link_to "#{group.name}", group_path(group) %></h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item group-card-info">Stream: <%= group.stream %></li>
            <li class="list-group-item group-card-info">Start Date: <%= group.startdate %></li>
            <li class="list-group-item group-card-info">End Date: <%= group.enddate %></li>
            <!-- <li class="list-group-item group-card-info">Active: <%= (group.active).to_s.capitalize %></li> -->
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="" id="order_name">
  <div class="container">
    <div class="row">
      <% @groups1.each do |group| %>
      <div class="col-md-4">
        <div class="group-card <%= group.active ? "active" : "inactive" %>">
          <h2><%= link_to "#{group.name}", group_path(group) %></h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item group-card-info">Stream: <%= group.stream %></li>
            <li class="list-group-item group-card-info">Start Date: <%= group.startdate %></li>
            <li class="list-group-item group-card-info">End Date: <%= group.enddate %></li>
            <!-- <li class="list-group-item group-card-info">Active: <%= (group.active).to_s.capitalize %></li> -->
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="" id="order_active">
  <div class="container">
    <div class="row">
      <% @groups2.each do |group| %>
      <div class="col-md-4">
        <div class="group-card <%= group.active ? "active" : "inactive" %>">
          <h2><%= link_to "#{group.name}", group_path(group) %></h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item group-card-info">Stream: <%= group.stream %></li>
            <li class="list-group-item group-card-info">Start Date: <%= group.startdate %></li>
            <li class="list-group-item group-card-info">End Date: <%= group.enddate %></li>
            <!-- <li class="list-group-item group-card-info">Active: <%= (group.active).to_s.capitalize %></li> -->
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="btn-new">
  <%= link_to "Add a Group", new_group_path, class: "btn btn-secondary new_group_button" %>
</div>
<script type="text/javascript">
  $("#order_id").show()
  $("#order_name").hide();
  $("#order_active").hide();

  document.getElementById("sort_name").addEventListener("click", function(){
    $("#order_name").show();
    $("#order_id").hide();
    $("#order_active").hide();
    // $("#sort_name").css({"background-color":"black", "color":"white"})
    // $("#group_info").load(location.href+" #group_info>*","");
  });

  document.getElementById("sort_id").addEventListener("click", function(){
    $("#order_name").hide();
    $("#order_id").show();
    $("#order_active").hide();

    // $("#group_info").load(location.href+" #group_info>*","");
  });
  document.getElementById("sort_active").addEventListener("click", function(){
    $("#order_name").hide();
    $("#order_id").hide();
    $("#order_active").show();
    // $("#group_info").load(location.href+" #group_info>*","");
  });

  setInterval(function () {

    if ($("#order_name").is(":visible")) {
      $("#sort_name").css({"background-color":"black", "color":"white"})
    } else {
      $("#sort_name").css({"background-color":"#6c757d", "color":"white"})
    }
    if ($("#order_active").is(":visible")) {
      $("#sort_active").css({"background-color":"black", "color":"white"})
    } else {
      $("#sort_active").css({"background-color":"#6c757d", "color":"white"})
    }
    if ($("#order_id").is(":visible")) {
      $("#sort_id").css({"background-color":"black", "color":"white"})
    } else {
      $("#sort_id").css({"background-color":"#6c757d", "color":"white"})
    }

  }, 10);

</script>
