<!-- Prints the notice to indicate a new group has been made
Styles with CSS and Bootstrap
Checks if any notices are already on the page, if not then it will appear -->
<div class="alert-success" role="alert">
  <% if notice.to_s.length != 0 %>
    <p class="alert notice"><%= notice %></p>
  <% end %>
</div>

<!-- JS code to check if DataTables applied, if not then apply it to the students list. -->
<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
      if (!document.getElementById("group-attendance_wrapper")) {
        $('#group-attendance').DataTable();
      }
  });
</script>

<div class="container">
<!-- Displays the groups name, start and end date, whether they are active and their stream -->
  <div class="row">
    <div class="col-md-12 group-container attend_group">
      <center>
      <h1>Attendance for: <%= @group.name %></h1>
      <ul>
        <li>Start date: <%= @group.startdate %></li>
        <li>End date: <%= @group.enddate %></li>
        <li>Active: <%= @group.active %></li>
        <li>Stream: <%= @group.stream %></li>
      </ul>

<!-- Buttons to edit and delete that particular group -->
      <%= link_to "Edit Group", edit_group_path, class: "btn btn-primary"%>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal">
        Delete Group
      </button>

<!-- Model appears displaying a message to confirm if the group to be deleted -->
      <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteConfirmTitle">Are you sure?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <b>This will also delete all the students in the group</b>
            </div>
            <!-- If user clicks confirm then it will delete all from the database -->
            <div class="modal-footer">
              <%= link_to 'Delete Group', @group, method: :delete, class: "btn btn-danger"%>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </center>
    </div>
  </div>
</div>

  <div class="container">
    <table id="group-attendance" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Student</th>
          <th scope="col">On Time</th>
          <th scope="col">< 5 mins</th>
          <th scope="col">> 5 mins</th>
          <th scope="col">Authorised</th>
          <th scope="col">Unauthorised</th>
        </tr>
      </thead>
      <tbody>

        <% @group.students.each do |student| %>

        <% att_array = [0, 0, 0, 0, 0]
        percArray = [0, 0, 0, 0, 0] %>

        <tr>
          <% student.attendances.each do |attendance| %>

          <%

          case attendance.att_status
          when 1
            att_array[0] += 1
          when 2
            att_array[1] += 1
          when 3
            att_array[2] += 1
          when 4
            att_array[3] += 1
          when 5
            att_array[4] += 1
          end

          %>

          <% end %>

          <%

          sum = 0.0

          att_array.each do |value|
            sum+=value
          end

          percArray[0] = ((att_array[0] / sum) * 100).round 2
          percArray[1] = ((att_array[1] / sum) * 100).round 2
          percArray[2] = ((att_array[2] / sum) * 100).round 2
          percArray[3] = ((att_array[3] / sum) * 100).round 2
          percArray[4] = ((att_array[4] / sum) * 100).round 2

          %>
          <td><b><%= student.id %></b></td>
          <td><%= link_to "#{student.name.titlecase}", student %></td>

          <% percArray.each do |p| %>

            <% if p.nan? %>
              <td>0.0%</td>
            <% else %>
              <td><%= p %>%</td>
            <% end %>

          <% end %>

        </tr>
        <% end %>

      </tbody>
    </table>

  </div>


</div>
