<h1><%= @group.name %></h1>
<ul>
  <li>Start date: <%= @group.startdate %></li>
  <li>End date: <%= @group.enddate %></li>
  <li>Active: <%= @group.active %></li>
  <li>Stream: <%= @group.stream %></li>
</ul>


<%= link_to "Edit Group", edit_group_path, class: "btn btn-primary"%>
<%= link_to "Delete Group", @group, method: :delete, class: "btn btn-danger"%>
