<%= form_for @group do |g| %>

  <div class="field">
    <%= g.name %><br>
  </div>

  <%= g.fields_for :students do |builder| %>
    <%= render 'layouts/stud_form', s: builder %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
