<%= form_for @group do |g| %>

  <%= @group.name %>

  <%= g.fields_for :students do |builder| %>
    <%= render 'layouts/stud_form', s: builder %>
  <% end %>

  <div class="actions">
    <%= g.submit %>
  </div>
<% end %>
