<%= form_for @attendance do |g| %>

  <% student_list = [] %>
  <% group = Group.all %>

  <%= g.hidden_field :date, value: $date %>

  <div class="attendance_form">
  <% group.each do |g| %>
    <% g.students.each do |student| %>
      <% exists = false %>
      <% example = student.attendances.where("date = '#{$date}'") %>
      <% unless example.empty? %>
        <% exists = true %>
      <% end %>
      <% unless exists == true %>
        <% output = "#{student.id} - #{student.name}" %>
        <% student_list.push output %>
      <% end %>
    <% end %>
  <% end %>

  <%= @group.name %> <br>
    <!-- @group.students.each do |student| %> -->
    <% student = @group.students[0] %>
    <%= g.select(:student_id, student_list) %>
    <!--  g.hidden_field :student_id, :value => student.id %> -->
     <!-- student.name %> <br> -->
    <!-- g.fields_for :attendances do |builder| %> -->
    <%= g.text_field :att_status %> <br>
       <!-- render 'layouts/attend_fields', a: builder %> -->
   <!-- end %> -->
   <!-- end %> -->
 </div>

  <div class="actions">
    <%= g.submit %>
  </div>
<% end %>
