<%= form_for @attendance do |g| %>

  <%= @group.name %> <br>
  <!-- @group.students.each do |student| %> -->
    <%= @group.students[1].name %>
    <!-- g.fields_for :attendances do |builder| %> -->
    <%= g.text_field :att_status %>
       <!-- render 'layouts/attend_fields', a: builder %> -->
   <!-- end %> -->
   <!-- end %> -->

  <div class="actions">
    <%= g.submit %>
  </div>
<% end %>
