<center>
<% status = ["On time", "Late by <5 minutes", "Late by >5 minutes", "Authorised Absence", "Unauthorised Absence"] %>

<%= form_for @attendance do |g| %>

<% if @attendance.errors.any? %>
<div class="alert alert-danger message-info" role="alert">
  <h2 class="alert-heading"> <%= pluralize(@attendance.errors.count,'error') %> To Fix </h2>
  <hr>
  <% @attendance.errors.each do |attr, message| %>
    <ul>
      <li style="list-style: none;">
        <% if message.to_s.length != 0 %>
          <p class="mb-0 message" role="alert"><%= message %></p>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>
<% end %>

  <!-- sets up some values-->
  <% student_list = [] %>
  <% group = @group %>

  <!-- sets the date to the date entered on the previous page -->
  <%= g.hidden_field :date, value: $date %>


  <div class="att_form form">

    <!-- logic to show students or not -->
    <% group.students.each do |student| %>
      <% exists = false %>
      <% example = student.attendances.where("date = '#{$date}'") %>
      <% puts "date: #{$date}" %>
      <% unless example.empty? %>
        <% exists = true %>
      <% end %>
      <!-- only show students if they are active or they dont have an attendance for that date -->
      <% unless exists == true || student.active == false %>
        <% output = "#{student.id} - #{student.name}" %>
        <% student_list.push output %>
      <% end %>
    <% end %>

    <!-- display group name -->
    <h2><%= link_to "#{@group.name}", group_path(@group) %> </h2>
    <br>

    <div class="select att_field">
      <!-- drop down list for each student and collects the students id -->
      <%= g.select(:student_id, student_list) %>
    </div>
    <div class="radio_buttons att_field">
      <%= g.collection_radio_buttons :att_status, (1..5).map{|n| [n, status[n-1]]}, :first, :last, :class => "col-12 form-control" %>
    </div>
    <div class="field att_field">
      <%= g.label :comment %>
      <%= g.text_field :comment %>
    </div>

  <div class="action att_field">
    <%= g.submit %>
  </div>
</div>
<% end %>
</center>
