<%= form_for @attendance do |g| %>

  <% student_list = [] %>
  <% group = @group %>
  <% puts group.name %>

  <%= g.hidden_field :date, value: $date %>

  <div class="attendance_form">

    <% group.students.each do |student| %>
      <% exists = false %>
      <% example = student.attendances.where("date = '#{$date}'") %>
      <% puts "date: #{$date}" %>
      <% unless example.empty? %>
        <% exists = true %>
      <% end %>
      <% unless exists == true %>
        <% output = "#{student.id} - #{student.name}" %>
        <% student_list.push output %>
      <% end %>
    <% end %>

  <%= @group.name %> <br>
    <!-- @group.students.each do |student| %> -->

    <%= g.select(:student_id, student_list) %>
    <!--  g.hidden_field :student_id, :value => student.id %> -->
     <!-- student.name %> <br> -->
    <!-- g.fields_for :attendances do |builder| %> -->
    <%= g.collection_radio_buttons :att_status, (1..5).map{|n| [n, n]}, :first, :last, :class => "form-control" %>
       <!-- render 'layouts/attend_fields', a: builder %> -->
   <!-- end %> -->
   <!-- end %> -->
 </div>

  <div class="actions">
    <%= g.submit %>
  </div>
<% end %>
