<%= form_for @group do |g| %>

  <%= @group.name %> <br>
  <%= @group.students.each do |student| %>
    <%= student.name %>
    <%= g.fields_for :attendance do |builder| %>
      <%= render 'layouts/attend_fields', a: builder %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= g.submit %>
  </div>
<% end %>
