<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="headers">
  <a class="navbar-brand" href="/">
    <%= image_tag("sparta.jpg", size: "40x40", alt: "Nav Logo") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <!-- <%= link_to "Home", groups_path %> -->
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= students_path %>">Students</a>
      </li>
      <span class="verticalLine"></span>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_group_path %>">Add New Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_student_path %>">Add New Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= attendances_path %>">Add Attendance</a>
      </li>
    </ul>
  </div>
</nav>
